<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Dropdowns</title>
</head>
<body>
    <form id="domain_form">
        <select id="domain_dropdown" name="domain_dropdown">
            <option value="">Select Domain</option>
            {% for domain in domains %}
                <option value="{{ domain.asset_id }}">{{ domain.name }}</option>
            {% endfor %}
        </select>

        <input type="text" id="domain_name" name="domain_name" placeholder="Domain Name" required>

        <input type="button" onclick="add_domain()" value="Create Domain"/>

        <input type="submit" value="Submit" onclick="return false" style="display: none;"/>
    </form>

    <form id="database_form" style="display: none;">
        <select id="database_dropdown" name="database_dropdown">
            <!-- This dropdown will be initially hidden -->
        </select>
        <input type="text" id="database_name" name="database_name" placeholder="Database Name" required>

        <input type="button" onclick="add_database()" value="Link Database"/>
        <input type="submit" value="Submit" onclick="return false" style="display: none;"/>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        function add_domain() {
            var domain_name = document.getElementById("domain_name").value;
            if (domain_name == "") {
                alert("Please enter a domain name");
                return;
            }
            var data = {
                name: domain_name,
            };
            $.ajax({
                type: "POST",
                url: "/domains",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    alert("Domain created successfully");
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }

        function add_database() {
            var database_name = document.getElementById("database_name").value;
            if (database_name == "") {
                alert("Please enter a database name");
                return;
            }
            var data = {
                name: database_name,
                parent_id: document.getElementById("domain_dropdown").value
            };
            $.ajax({
                type: "POST",
                url: "/databases",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    alert("Database created successfully");
                    $("#domain_dropdown").change();
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }

        function getParam(param){
            var both = location.search.replace('?', '').split('&');
            for(var i=0,a,l=both.length; i<l; i++){
                a = both[i].split('=');
                if(a[0] === encodeURIComponent(param)){
                return decodeURIComponent(a[1]);
                }
            }
            return undefined;
        }
        
        $(document).ready(function () {
            $('#domain_dropdown').on('change', function () {
                var selected_domain = $(this).val();
                var $database_dropdown = $('#database_dropdown');

                // Clear and hide the second dropdown
                $database_dropdown.empty().hide();

                var data = {
                    parent_asset_id: selected_domain
                };
                
                $.ajax({
                    type: "GET",
                    url: "/domains/children?parent_asset_id=" + selected_domain,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.length == 0) {
                            $database_dropdown.append('<option value="">No Databases</option>');
                            return;
                        } else {
                            $database_dropdown.append('<option value="">Select Database</option>');
                            $.each(data, function (key, value) {
                                $database_dropdown.append('<option value="' + value.asset_id + '">' + value.name + '</option>');
                            });
                        }
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });

                $("#database_form").show();

                $database_dropdown.show();
            });

            $("#domain_name").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {
                    add_domain()
                }
                e.preventDefault();
                return false;
            });

            $("#database_name").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {
                    add_database();
                }
                e.preventDefault();
                return false;
            });
        });
    </script>
</body>
</html>
